# Python bytecode
**/__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual environments
myenv/

# LaTeX build artifacts
documentatie/*.aux
documentatie/*.bbl
documentatie/*.blg
documentatie/*.fdb_latexmk
documentatie/*.fls
documentatie/*.log
documentatie/*.out
documentatie/*.synctex*
documentatie/*.toc
documentatie/*.data.minted
